/* Dev only: */
/* *{
  border: 1px solid black;
} */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 60px;
}

/* Put main theme comopnents here */
/* main color, seccondary color etc. */